*{
    padding: 0;
    margin: 0;
}
.we{
    padding-top: 100px;
    background-image: url(images/bg-header-desktop.png);
}
.h1{
    height: 80px;
    
}
.logo{
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 10px;
    font-weight: 500 ;
}
.heading{
    text-align: center;
    padding-right: 430px;
    padding-left: 430px;
    margin-top: 10px;
    color: rgb(197, 194, 194);
    
}
.but{
    text-align: center;
    margin-top: 30px;
}
button{
    margin-right: 10px;
    height: 40px;
    width: 160px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.green{
    background-color: rgb(7, 180, 122);
    color: whitesmoke;
}
.blue{
    color: whitesmoke;
    background-color: rgb(86, 41, 222);
}
.green,.blue:hover{
    cursor: pointer;
}
.green:active{
    background-color: whitesmoke;
    color: rgb(7, 180, 122);
}
.blue:active{
    background-color: whitesmoke;
    color:rgb(86, 41, 222);
}
header{
    margin-bottom: 90px;
}
h2{
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    
}
.main{
    text-align: center;
    padding-right: 360px;
    padding-left: 360px;
    color: rgb(197, 194, 194);
    margin-top: 10px;
}
#comp{
    width: 450px;
    height: 400px;
    object-fit: contain;
    display: flex;
    margin-top: 20px;
    
}
#as{
    display: flex;
}
.quick{
    margin-left: 40px;
    margin-top: 80px;

}
.p1{
    margin-bottom: 30px;
    margin-top: 10px;
    width: 400px;
    font-size: 13px;
    color: rgb(197, 194, 194);
}
h3{
    font-weight: 400;
}
.acc{
    text-align: center;
}
.p2{
    font-size: 15px;
    color: rgb(197, 194, 194);
    margin-top: 10px;
    padding-right: 390px;
    padding-left: 390px;
    margin-bottom: 40px;
}
.i3{
    text-align: center;
    
}
#i3{
    width: 700px;
}
.p3{
    font-size: 15px;
    color: rgb(197, 194, 194);
    margin-top: 10px;
    padding-right: 390px;
    padding-left: 500px;
    margin-bottom: 40px;
}
.container{
    display: flex;
}
.con3,.con2,.con1{
    text-align: center;
    
}
.con3{
    width: 300px;
}
.con2{
    width: 300px;
}
.con1{
    padding-left: 200px;
    width:300px;
}
.i4{
    width: 40px;
    margin-bottom: 10px;
}
h5{
    font-size: 18px;
    font-weight:500;
    margin-bottom: 10px;

}
.p4{
    font-size: 15px;
    color: rgb(197, 194, 194);
    width: 250px;
    padding-left: 20px;
    margin-bottom: 40px;

}
.cont2{
    text-align: center;
}
.i5{
    width: 100px;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#h2{
    margin-bottom: 20px;

}
.p7{
    font-size: 15px;
    color: rgb(197, 194, 194);
    margin-top: 10px;
    text-align: center;
    padding-right: 350px;
    padding-left: 350px;
}
main{
    margin-bottom: 120px;
}
.i7{
    width: 40px;
}
footer{
    background-color: rgb(238, 236, 236);
   height: 100px;
   width:auto;
}
.foot{
    display: flex;
    margin-left: 80px;
    padding-top: 20px;
}
a{
    display: block;
    margin-left: 60px;
    color: rgb(108, 104, 104);
}
a:link{
    text-decoration: none;
}
.i9{
    margin-left: 500px;
}
.i10{
    margin-left: 10px;
    height: 20px;
}
@media only screen and (max-width: 376px){
    
    .we{
        padding-top: 100px;
        background-image: url(images/bg-header-mobile.png);
    }
    h1{
        text-align: center;
        margin-top: 10px;
        font-weight: 500 ;
        padding-left: 50px;
        padding-right: 50px;
    }
    .heading{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: -10px;
        font-size: 12px;
        
    }
    .main{
        width: fit-content;
    }
    #pm{
        width: 376px;
        padding-left: 0;
        font-size: small;

    }
    .pm{
        text-align: center;
    }
    .main{
        padding: 0;
        width: 376px;
    }
    #comp{
        height: 200px;
        width: 376px;
        overflow: hidden;
        
    }
    #as{
        display: flex;
        flex-direction: column;
        width: 376px;
        text-align: center;
    }
    .quick{
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }
    .p1{
        width: 376px;
    }
    .p2{
        padding: 0;
        text-align: center;
    }
    #i3{
        width: 300px;
        margin-bottom: 30px;
    }
    .p3{
        padding: 0;
        padding-left: 40px;
        
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .con1{
        padding: 0;
        width: 376px;
        text-align: center;
    }
    .p4{
        padding: 0;
        width: 376px;
    }
    .con2,.con3{
        width: 376px;

    }
    .p7{
        padding: 0;
    }
    .foot{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    footer{
        height: fit-content;
        text-align: center;
    }
    .i7{
        width: 90px;
        padding-left: 150px;
        padding-bottom: 30px;
    }
    a{
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    }
    .i9,.i10{
        margin: 0;
    }
    .i10{
        padding-right: 20px;
        padding-left: 20px;
    }
}